@import "tailwindcss";
@import "tw-animate-css";

:root {
  --yellow: #f7b827;
  --light-yellow: #f6e0ae;
  --blue: #0b2658;
  --light-blue: #7aa1e2;
  --text-huge: clamp(5rem, 2.6923rem + 10.2564vw, 15rem);
}

@theme inline {
  --color-yellow: var(--yellow);
  --color-light-yellow: var(--light-yellow);
  --color-blue: var(--blue);
  --color-light-blue: var(--light-blue);

  --text-huge: var(--text-huge);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-indie-flower);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gochi-hand);
}

.bg-paper-grid {
  background-image: linear-gradient(
      to right,
      var(--light-blue) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--light-blue) 1px, transparent 1px);
  background-size: 3rem 3rem;
  background-position: -1.75rem -1.75rem;
  pointer-events: none;
  position: absolute;
  top: -2.5rem;
  bottom: -2.5rem;
  inset-inline: 0;
  z-index: 0;
}

@media (min-width: 1199px) {
  .bg-paper-grid {
    left: -5rem;
    right: -5rem;
  }
}

@keyframes firework {
  0% {
    transform: scaleY(0) translateY(0);
    opacity: 0;
  }
  5% {
    transform: scaleY(1.2) translateY(-10px);
    opacity: 1;
  }
  10% {
    transform: scaleY(1) translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: scaleY(1) translateY(-20px);
    opacity: 0;
  }
}

.firework-line {
  @apply absolute bg-white rounded-full w-2;
  height: 20px;
  transform-origin: bottom center;
  animation: firework 15s ease-out infinite both;
}

.top-\[15\%\].right-\[15\%\] .firework-line {
  animation-delay: 5s;
}
.bottom-\[20\%\].left-\[30\%\] .firework-line {
  animation-delay: 10s;
}
